a {
  &:link,
  &:visited {
    text-decoration: underline;
    color: inherit;
  }

  &:hover {
    color: $color-accent;
  }


  &%plain {
    &:link,
    &:visited {
      text-decoration: none;
    }
  }

  &%meta:not(:hover) {
    &:link,
    &:visited {
      color: $color-light;
    }
  }

  &.active:not(:hover) {
    &:link,
    &:visited {
      color: $color-base;
    }
  }
}