%wrap {
  margin: 0 auto;
  max-width: 36rem;
  padding: 2rem;
  position: relative;
}

.site {
  @extend %wrap;
}

figure {
  margin: $bigskip 0;

  &, img {
    width: 100%;
  }

  figcaption {
    width: 75%;
    margin-left: 25%;
    text-align: right;
    @extend %small;
    @extend %meta;
  }
}
